Azure/ApplicationInsight/Logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "body": {
                                "attachments": [
                                    {
                                        "author_icon": "https://antsa.blob.core.windows.net/imageant/Appis.png",
                                        "author_link": "http://flickr.com/bobby/",
                                        "author_name": "Application Insight",
                                        "color": "@variables('severity-color')",
                                        "fields": [
                                            {
                                                "short": false,
                                                "title": "Insight Name",
                                                "value": "@variables('insightname')"
                                            },
                                            {
                                                "short": true,
                                                "title": "현재값",
                                                "value": "@items('For_each')?['metricValue']"
                                            },
                                            {
                                                "short": true,
                                                "title": "임계값 ",
                                                "value": "@items('For_each')?['threshold']"
                                            },
                                            {
                                                "short": true,
                                                "title": "Time",
                                                "value": "@triggerBody()?['data']?['essentials']?['firedDateTime']"
                                            }
                                        ],
                                        "footer": "footer image",
                                        "footer_icon": "https://antsa.blob.core.windows.net/imageant/paw-gab0b29545_640.png",
                                        "mrkdwn_in": [
                                            "text"
                                        ],
                                        "pretext": "Azure Cloud Alert",
                                        "text": "Enter was pressed more than 10 times.",
                                        "thumb_url": "https://cdn.pixabay.com/photo/2021/11/15/23/30/bell-6799634_1280.png",
                                        "title": "View Detail Logs - Azure Portal",
                                        "title_link": "@items('For_each')?['linkToSearchResultsUI']"
                                    }
                                ],
                                "username": "Bot"
                            },
                            "headers": {
                                "Content-Type": "application/json; charset=utf-8"
                            },
                            "method": "POST",
                            "uri": "https://hooks.slack.com/services/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"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "foreach": "@triggerBody()?['data']?['alertContext']?['condition']?['allOf']",
                "runAfter": {
                    "조건": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "변수_초기화": {
                "inputs": {
                    "variables": [
                        {
                            "name": "insightname",
                            "type": "string",
                            "value": "@{Split(triggerBody()?['data']?['essentials']?['alertTargetIDs']?[0],'/')?[8]}"
                        }
                    ]
                },
                "runAfter": {
                    "변수_초기화_-_경고_색상": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "변수_초기화_-_경고_색상": {
                "inputs": {
                    "variables": [
                        {
                            "name": "severity-color",
                            "type": "string",
                            "value": "#FFFF00"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "조건": {
                "actions": {
                    "변수_설정": {
                        "inputs": {
                            "name": "severity-color",
                            "value": "#FF0000"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['data']?['essentials']?['severity']",
                                "Sev0"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "변수_초기화": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "data": {
                                "properties": {
                                    "alertContext": {
                                        "properties": {
                                            "condition": {
                                                "properties": {
                                                    "allOf": {
                                                        "items": {
                                                            "properties": {
                                                                "dimensions": {
                                                                    "type": "array"
                                                                },
                                                                "failingPeriods": {
                                                                    "properties": {
                                                                        "minFailingPeriodsToAlert": {
                                                                            "type": "integer"
                                                                        },
                                                                        "numberOfEvaluationPeriods": {
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "linkToFilteredSearchResultsAPI": {
                                                                    "type": "string"
                                                                },
                                                                "linkToFilteredSearchResultsUI": {
                                                                    "type": "string"
                                                                },
                                                                "linkToSearchResultsAPI": {
                                                                    "type": "string"
                                                                },
                                                                "linkToSearchResultsUI": {
                                                                    "type": "string"
                                                                },
                                                                "metricMeasureColumn": {
                                                                    "type": "string"
                                                                },
                                                                "metricValue": {
                                                                    "type": "integer"
                                                                },
                                                                "operator": {
                                                                    "type": "string"
                                                                },
                                                                "searchQuery": {
                                                                    "type": "string"
                                                                },
                                                                "targetResourceTypes": {
                                                                    "type": "string"
                                                                },
                                                                "threshold": {
                                                                    "type": "string"
                                                                },
                                                                "timeAggregation": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "searchQuery",
                                                                "metricMeasureColumn",
                                                                "targetResourceTypes",
                                                                "operator",
                                                                "threshold",
                                                                "timeAggregation",
                                                                "dimensions",
                                                                "metricValue",
                                                                "failingPeriods",
                                                                "linkToSearchResultsUI",
                                                                "linkToFilteredSearchResultsUI",
                                                                "linkToSearchResultsAPI",
                                                                "linkToFilteredSearchResultsAPI"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "windowEndTime": {
                                                        "type": "string"
                                                    },
                                                    "windowSize": {
                                                        "type": "string"
                                                    },
                                                    "windowStartTime": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "conditionType": {
                                                "type": "string"
                                            },
                                            "properties": {}
                                        },
                                        "type": "object"
                                    },
                                    "customProperties": {},
                                    "essentials": {
                                        "properties": {
                                            "alertContextVersion": {
                                                "type": "string"
                                            },
                                            "alertId": {
                                                "type": "string"
                                            },
                                            "alertRule": {
                                                "type": "string"
                                            },
                                            "alertTargetIDs": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "configurationItems": {
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "essentialsVersion": {
                                                "type": "string"
                                            },
                                            "firedDateTime": {
                                                "type": "string"
                                            },
                                            "monitorCondition": {
                                                "type": "string"
                                            },
                                            "monitoringService": {
                                                "type": "string"
                                            },
                                            "originAlertId": {
                                                "type": "string"
                                            },
                                            "severity": {
                                                "type": "string"
                                            },
                                            "signalType": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "schemaId": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}